* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 15px/1.5 "Roboto", sans-serif;
  background-color: #000;
  height: 100%;
  color: #fff;
}

/* Global */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
  height: auto;
}

/* Header */
.changecolor {
  background: rgba(0, 0, 0, 0.85);
}

header {
  width: 100%;
  padding: 1rem 3rem;
  top: 0;
  position: fixed;
  z-index: 100;
  transition: all 0.7s ease;
}

header ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

header ul li {
  padding: 1rem 0;
}

header ul li.btn {
  position: relative;
  width: auto;
  margin: 0 0.5rem;
  text-align: center;
  order: 3;
  padding: 0.5rem 1.5rem;
  border: 2px solid #fff;
  border-radius: 7px;
}

header ul li.btn:hover,
.showcase-btn:hover {
  background: rgba(255, 255, 255, 0.6);
  transition: all 0.4s ease;
}

header ul li.main-logo {
  flex: 1;
  color: white;
  font-weight: 600;
}

.main-logo span {
  font-family: "Pinyon Script", cursive;
  font-size: 2.5rem;
}

header li a {
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.4s;
}

header ul li i {
  font-size: 1.6rem;
}

header ul li.hamburger-btn {
  display: none;
}

header ul li.hamburger-btn.hide i:before {
  content: "\f00d";
}

/* Showcase */
.showcase {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.showcase::before {
  content: "";
  background: url(../img/background.jpg) no-repeat center center/cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.showcase-inner {
  width: 80%;
  padding-top: 0.5rem;
}

.showcase-inner h1 {
  text-transform: capitalize;
  font-size: 2rem;
}

.showcase-inner p {
  margin: 2rem 0 3rem;
  padding: 0 4rem;
}

.showcase-btn {
  margin: 0 0.5rem;
  text-align: center;
  padding: 0.5rem 1.5rem;
  border: 2px solid #fff;
  border-radius: 7px;
}

/* About */
.about {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about > div {
  flex: 1;
}
.about .about-image {
  padding: 0 2em 0 5em;
}
.about .about-image img {
  opacity: 0.7;
  width: 100%;
  border-radius: 2rem;
}

.about .about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5em 0 2em;
}

.about-content p {
  margin: 0.5rem 0;
}

.about-content > p:first-of-type {
  margin-top: 2rem;
}

/* Pages */
.pages h1 {
  font-size: 1.6rem;
  text-align: center;
  padding: 3em 0 2rem;
}
/* Position the image container (needed to position the left and right arrows) */
.gallery-container {
  position: relative;
  width: 70%;
  margin: 0 auto 2rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
  position: relative;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Overlay */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: 0.6s ease-out;
}

.mySlides:hover .overlay {
  transform: scale(1);
}

.text {
  color: white;
  font-size: 1.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 1.2rem;
  padding: 8px 12px;
  position: absolute;
  top: 2%;
  right: 2%;
}

.numbertext-light {
  color: #161616;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #161616;
  padding: 1rem;
  color: white;
  letter-spacing: 0.2rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* BACK TO TOP BUTTON */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 100; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color*/
  color: rgb(255, 255, 255); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px; /* Some padding */
  border-radius: 15px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  color: #777;
  transition: all 500ms ease;
}
/* END BACK TO TOP BUTTON */

/* Footer */

footer {
  background-color: black;
  padding: 3rem;
  line-height: 1.8rem;
  border-top: 2px white solid;
}

.footer-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}

footer a {
  color: white;
  text-decoration: none;
}

footer .col-1 {
  writing-mode: vertical-rl;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: 3px white solid;
  padding: 0.7rem 1rem;
}

footer .col-3 ul li {
  margin-top: 0.6rem;
}

footer .col-2 ul li {
  margin-top: 0.5rem;
}

footer .col-3 ul li a {
  display: flex;
  align-items: center;
}

footer .col-3 ul li i {
  padding-right: 1rem;
}

footer .col-2 a:hover,
footer .col-3 a:hover {
  border-bottom: 1px solid white;
}

@media all and (max-width: 850px) {
  header {
    padding: 1rem 2rem;
  }

  header ul li.btn {
    width: 100%;
    margin: 2rem 0;
    display: none;
    border: none;
  }

  header.show {
    background: rgba(0, 0, 0, 0.85);
    height: 100vh;
  }

  header ul li.btn.show {
    display: block;
  }

  header ul li.hamburger-btn {
    display: block;
  }

  .showcase-inner {
    width: 90%;
  }
  .showcase-inner h1 {
    font-size: 1.7rem;
  }
  .showcase-inner p {
    margin: 2rem 0 3rem;
    padding: 0 0.5rem;
  }
}
@media (max-width: 850px) {
  .footer-wrapper {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .about-content p {
    font-size: 0.85rem;
    line-height: 1.5;
  }

  .about .about-image {
    padding: 0 0.3em 0 3.5em;
    height: 50vh;
  }

  .about .about-image img {
    height: 100%;
    object-fit: cover;
  }

  .about .about-content {
    padding: 0 3.5em 0 2em;
  }

  .gallery-container {
    width: 85%;
  }
}

@media (max-width: 600px) {
  .main-logo span {
    font-size: 2.2rem;
  }
  .about {
    flex-direction: column;
    height: auto;
  }

  .about .about-image {
    margin: 3em 0;
    padding: 0 3rem;
  }

  .about .about-content {
    padding: 0 2rem;
    text-align: center;
  }

  .caption-container,
  .row {
    display: none;
  }

  .gallery-container {
    width: 95%;
  }

  .prev,
  .next {
    top: 57%;
  }

  footer .col-1 {
    font-size: 1rem;
  }
}

@media (max-width: 589px) {
  .footer-wrapper {
    flex-direction: column;
  }

  footer .col-1 {
    writing-mode: unset;
  }

  footer .col-2 ul {
    display: flex;
    margin: 2rem 0 1.5rem;
  }

  footer .col-2 ul li {
    margin: 0 0.5rem;
    padding: 0.3rem 0.5rem;
  }
}

@media (max-height: 500px) {
  header ul li.btn.show {
    margin: 1.5% 0;
  }
}

@media (max-height: 400px) {
  header ul li.btn.show {
    margin: 1% 0;
  }
}
