* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 15px/1.5 "Roboto", sans-serif;
  background-color: #000;
  height: 100%;
  color: #fff;
}

/* Global */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  padding: 0.5rem 1.5rem;
  border: 2px solid #fff;
  border-radius: 7px;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.6);
  transition: all 0.4s ease;
}

img {
  width: 100%;
  height: auto;
}

/* Header */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  top: 0;
  position: fixed;
  z-index: 100;
  transition: all 0.7s ease;
}

header .main-logo {
  font-family: "Pinyon Script", cursive;
  font-size: 2.5rem;
}

header ul {
  display: flex;
}

header ul li {
  margin: 0 0.5rem;
}

/* Showcase */
.showcase {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.showcase::before {
  content: "";
  background: url(../img/background.jpg) no-repeat center center/cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.showcase-inner {
  width: 60%;
}

.showcase-inner h1 {
  text-transform: capitalize;
  font-size: 2rem;
}

.showcase-inner p {
  margin: 2rem 0 3rem;
  padding: 0 5em;
}

/* About */
.about {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about > div {
  flex: 1;
}
.about .about-image {
  padding: 0 2em 0 5em;
}
.about .about-image img {
  opacity: 0.7;
  width: 100%;
  border-radius: 2rem;
}

.about .about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5em 0 2em;
}

.about-content p {
  margin: 0.5rem 0;
}

.about-content > p:first-of-type {
  margin-top: 2rem;
}

/* Pages */
.pages h1 {
  font-size: 1.6rem;
  text-align: center;
  padding: 3em 0 2rem;
}
/* Position the image container (needed to position the left and right arrows) */
.gallery-container {
  position: relative;
  width: 70%;
  margin: 0 auto 2rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
  position: relative;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Overlay */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: 0.6s ease-out;
}

.mySlides:hover .overlay {
  transform: scale(1);
}

.text {
  color: white;
  font-size: 1.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 1.2rem;
  padding: 8px 12px;
  position: absolute;
  top: 2%;
  right: 2%;
}

.numbertext-light {
  color: #161616;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #161616;
  padding: 1rem;
  color: white;
  letter-spacing: 0.2rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
